
#callouts
  .callout_inner
    .wrapper
      .callout
        %h1 Welcome to Pixeloid!
        %p Post your polaroids in pixels :)
        %p You can post your own pictures and view pictures posted by other people here. Sounds familiar? ;)
        %p Designed by Sameera Appana

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
    %br
    %br
    %p Follow me on GitHub: <a href="https://github.com/sameeraappana8">https://github.com/sameeraappana8</a>
