#edit_page.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit your picture!
      .panel-body
        .current_image
          %strong.center Right now your post looks like this!
          =image_tag @pic.image.url(:medium)
        = render 'form'
