.col-md-3.col-md-offset-3
  #pics.transitions-enabled
    %h1 Your Feed!
    - @pics.each do |pic|
      .box.panel.panel-default
        = link_to (image_tag pic.image.url), pic
        %h2= link_to pic.title, pic
