// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#callouts {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 400px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		width: 100%;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			font-weight: bold;
			color: blue;
			font-size: 3.5rem;
			margin: 0;
			}
		p {
			font-size: 1.5rem;
      font-style: italic;
			margin: 0 0 2.5rem 0;
			color: black;
			}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		font-weight: bold;
		color: gray;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}
